Question-No.1

Database-A database is an organized collection of data, so that it can be easily accessed and managed.

You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data. It provides a means for storing, managing, and accessing large amounts of information.

Differentiate between SQL and NoSQL databases--
1-
-->SQL Databases are categorized as Relational Database Management System (RDBMS).
-->NOSQL databases are categorized as Non-relational or distributed database system.
2-
-->SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.
-->NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
3-
-->	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.
-->MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

Question-No.2

DDL- DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define, modify, and manage the structure of a database and its objects, such as tables, indexes, views, and constraints

CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It defines the structure and properties of the object being created. 

DROP:
The DROP statement is used to delete an existing database object, such as a table, view, or index. It permanently removes the object and its associated data from the database. 

ALTER:
The ALTER statement is used to modify the structure or properties of an existing database object. It allows you to add, modify, or drop columns, constraints, or indexes.

TRUNCATE:
The TRUNCATE statement is used to delete all the data from an existing table while keeping its structure intact. It is a faster alternative to the DELETE statement when you want to remove all rows from a table

Question-No.3

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements allow you to insert, update, and delete data within database tables.

INSERT:
The INSERT statement is used to add new records (rows) into a table. It allows you to specify the values to be inserted into each column or select values from another table. 

UPDATE:
The UPDATE statement is used to modify existing records in a table. It allows you to change the values of specific columns based on specified conditions. 

DELETE:
The DELETE statement is used to remove records from a table based on specified conditions. It permanently deletes the specified rows from the table.

import mysql.connector

# Establishing a connection to the MySQL database
cnx = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="kuldeep"
)

# Creating a cursor
cursor = cnx.cursor()

# Execute INSERT statement
insert_query = """
    INSERT INTO Employees (ID, Name, Age, Department)
    VALUES (1, 'John Doe', 30, 'HR')
"""
cursor.execute(insert_query)

# Execute UPDATE statement
update_query = """
    UPDATE Employees
    SET Age = 35
    WHERE ID = 1
"""
cursor.execute(update_query)

# Execute DELETE statement
delete_query = "DELETE FROM Employees WHERE ID = 1"
cursor.execute(delete_query)

# Commit the changes
cnx.commit()

# Closing the cursor and connection
cursor.close()
cnx.close()

Question-No.4

DQL stands for "Data Query Language," and it is a sub-language of SQL (Structured Query Language) used for querying and retrieving data from a relational database. SQL is a standard language for managing and manipulating relational databases, and DQL is one of its key components, mainly used for reading and retrieving data from the database.

The most common DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in the database. It allows you to specify the columns you want to retrieve, the tables from which you want to fetch data, and conditions to filter the data

SYNTAX OF SELECT STATEMENTS--

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Question-No.5

Primary Key:

In the context of databases, a primary key is a column or set of columns in a table that uniquely identifies each row in the table. It serves as a unique identifier for individual records in the table, ensuring that no two rows have the same value for the primary key column(s). The primary key is used to enforce data integrity and create relationships between tables.

Foreign Key:

A foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a link or relationship between two tables by referencing the primary key of one table from another table. The foreign key helps maintain data integrity and enforces referential integrity constraints.

Question-No.7

The order of execution of SQL clauses in an SQL query typically follows these steps:

FROM: The FROM clause is the first to be executed. It identifies the tables from which the data will be retrieved.

JOIN: If there are any JOIN clauses in the query, they are executed next. JOIN operations combine data from multiple tables based on specified conditions.

WHERE: The WHERE clause is executed after the JOIN clauses (if any). It filters the rows based on the specified conditions.

GROUP BY: If a GROUP BY clause is present, it is executed next. The GROUP BY clause groups the data based on specified columns.

HAVING: The HAVING clause is executed after the GROUP BY clause (if any). It filters the grouped rows based on the specified conditions.

SELECT: The SELECT clause is executed after all the previous clauses. It selects the columns to be included in the result set based on the query's specifications.

DISTINCT: If there is a DISTINCT keyword in the SELECT clause, it is executed next. It removes duplicate rows from the result set.

ORDER BY: The ORDER BY clause is executed after the SELECT and DISTINCT clauses. It sorts the result set based on the specified columns and sorting criteria.

LIMIT / OFFSET: If there is a LIMIT or OFFSET clause, it is executed last. It limits the number of rows returned in the result set or skips a certain number of rows from the beginning of the result set.